
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Empleados</title>
</head>
<body>
    <h2>Lista de empelados</h2>
    <table border="1">
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Sexo</th>
            <th>Estado Civil</th>
            <th>Tipo Sangre</th>
            <th>Fecha Nacimiento</th>
            <th>Fecha Contrato</th>
            <th>Foto</th>

        </tr>

        @foreach(var Empleado in ViewBag.empleados)
        {
        <tr>
            <td>@Empleado.nombres</td>
            <td>@Empleado.apellidos</td>
            <td>@Empleado.id_sexo</td>
            <td>@Empleado.id_estadocivil </td>
            <td>@Empleado.id_tiposangre</td>
            <td>@Empleado.fecha_nacimiento</td>
            <td>@Empleado.fecha_contrato</td>
            <td>@Empleado.foto</td>
        </tr>
        }
    </table>
    
</body>
</html>
